import %workspace%/envoy.bazelrc

# The io_bazel_rules_go stdlib target passes a --no-gc-sections linker argument.
build:linux --copt="-Wno-error=unused-command-line-argument"
# The quiche library is partially annotated for nullability.
build --copt="-Wno-nullability-completeness"
build --cxxopt=-std=c++23 --host_cxxopt=-std=c++23
build --config=clang

build:asan-common --test_env=UBSAN_SYMBOLIZER_PATH
build:tsan --test_env=TSAN_SYMBOLIZER_PATH
# build:msan --cxxopt="-fsanitize-ignorelist=bazel/msan_ignorelist.txt"

# The following options are required to build using hermetic llvm without gcc:

# Force all cc targets built with the llvm toolchain to use compiler-rt and libunwind. This removes
# the dependency on libgcc.
common:clang-common --@toolchains_llvm//toolchain/config:compiler-rt=true
common:clang-common --@toolchains_llvm//toolchain/config:libunwind=true
# Same as above, but applies to foreign_cc targets using autotools/cmake, which may not inherit the
# link flags applied by the toolchain.
common:libc++ --action_env=LDFLAGS="-stdlib=libc++ -fuse-ld=lld -rtlib=compiler-rt -l:libunwind.a -lpthread -ldl"
# Disable cgo. If cgo is enabled, some of the cc toolchain flags will propagate to the go toolchain,
# which causes fPIC mismatch errors.
build --@io_bazel_rules_go//go/config:pure=True


# CI setup

common:ci --build_metadata=ROLE=CI
common:ci --build_metadata=VISIBILITY=PUBLIC
common:ci --show_progress
common:ci --show_loading_progress
common:ci --remote_download_minimal

common:buildbuddy --bes_results_url=https://app.buildbuddy.io/invocation/
common:buildbuddy --bes_backend=grpcs://remote.buildbuddy.io
common:buildbuddy --local_resources=cpu=HOST_CPUS-1
common:buildbuddy --loading_phase_threads=HOST_CPUS-1
common:buildbuddy --jobs=100
common:buildbuddy --remote_cache=grpcs://remote.buildbuddy.io
common:buildbuddy --remote_executor=grpcs://remote.buildbuddy.io
common:buildbuddy --nolegacy_important_outputs
common:buildbuddy --noslim_profile
common:buildbuddy --remote_cache_compression
common:buildbuddy --experimental_remote_cache_compression_threshold=100
common:buildbuddy --experimental_profile_include_target_label
common:buildbuddy --experimental_profile_include_primary_output

build:ci-msan --action_env=CFLAGS="-fsanitize-ignorelist=bazel/msan_ignorelist.txt"
build:ci-msan --copt="-fsanitize-ignorelist=bazel/msan_ignorelist.txt"

# gcc is not installed in our build image. everything should link against compiler-rt and libunwind
# instead of libgcc.
# common:buildbuddy --@toolchains_llvm//toolchain/config:compiler-rt=true
# common:buildbuddy --@toolchains_llvm//toolchain/config:libunwind=true
# common:buildbuddy --experimental_workspace_rules_log_file=/tmp/bazel_workspace_rules.log