# Copyright 2016 Istio Authors. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
################################################################################

# Keep envoy.bazelrc up-to-date by run:
# curl -sSL https://raw.githubusercontent.com/envoyproxy/envoy/master/.bazelrc > envoy.bazelrc
import %workspace%/envoy.bazelrc

# The io_bazel_rules_go stdlib target passes a --no-gc-sections linker argument.
build:linux --copt="-Wno-error=unused-command-line-argument"
# The quiche library is partially annotated for nullability.
build --copt="-Wno-nullability-completeness"
build --cxxopt=-std=c++23 --host_cxxopt=-std=c++23
build --config=clang

common:ci --build_metadata=ROLE=CI
common:ci --build_metadata=VISIBILITY=PUBLIC
common:ci --show_progress
common:ci --show_loading_progress
common:ci --remote_download_minimal

common:buildbuddy --bes_results_url=https://app.buildbuddy.io/invocation/
common:buildbuddy --bes_backend=grpcs://remote.buildbuddy.io
common:buildbuddy --local_resources=cpu=HOST_CPUS-1
common:buildbuddy --loading_phase_threads=HOST_CPUS-1
common:buildbuddy --jobs=100
common:buildbuddy --remote_cache=grpcs://remote.buildbuddy.io
common:buildbuddy --remote_executor=grpcs://remote.buildbuddy.io
common:buildbuddy --nolegacy_important_outputs
common:buildbuddy --noslim_profile
common:buildbuddy --remote_cache_compression
common:buildbuddy --experimental_remote_cache_compression_threshold=100
common:buildbuddy --experimental_profile_include_target_label
common:buildbuddy --experimental_profile_include_primary_output

# gcc is not installed in our build image. everything should link against compiler-rt and libunwind
# instead of libgcc.
common:buildbuddy --@toolchains_llvm//toolchain/config:compiler-rt=true
common:buildbuddy --@toolchains_llvm//toolchain/config:libunwind=true
build:buildbuddy --linkopt --rtlib=compiler-rt
build:buildbuddy --linkopt --unwindlib=libunwind
# common:buildbuddy --experimental_workspace_rules_log_file=/tmp/bazel_workspace_rules.log