import %workspace%/envoy.bazelrc

# The io_bazel_rules_go stdlib target passes a --no-gc-sections linker argument.
build:linux --copt="-Wno-error=unused-command-line-argument"
# The quiche library is partially annotated for nullability.
build --copt="-Wno-nullability-completeness"
build --cxxopt=-std=c++23 --host_cxxopt=-std=c++23
build --config=clang

build:asan-common --test_env=UBSAN_SYMBOLIZER_PATH
build:tsan --test_env=TSAN_SYMBOLIZER_PATH

# The following options are required to build using hermetic llvm without gcc:

# Force all cc targets built with the llvm toolchain to use compiler-rt and libunwind. This removes
# the dependency on libgcc.
common:clang-common --@toolchains_llvm//toolchain/config:compiler-rt=true
common:clang-common --@toolchains_llvm//toolchain/config:libunwind=true
# Same as above, but applies to foreign_cc targets using autotools/cmake, which may not inherit the
# link flags applied by the toolchain.
# FIXME: this should not be necessary, but not having it breaks c-only foreign_cc dependencies
# that use cmake. The c-only targets DO inherit flags from the toolchain's conly_flags option, but
# that also breaks other C targets when set due to unused compiler flag errors.
common:libc++ --action_env=LDFLAGS="-stdlib=libc++ -fuse-ld=lld -rtlib=compiler-rt"
common:sanitizer --action_env=LDFLAGS="-stdlib=libc++ -fuse-ld=lld -rtlib=compiler-rt -l:libunwind.a"
common:coverage --action_env=LDFLAGS="-stdlib=libc++ -fuse-ld=lld -rtlib=compiler-rt -l:libunwind.a"

# Disable cgo. If cgo is enabled, some of the cc toolchain flags will propagate to the go toolchain,
# which causes fPIC mismatch errors.
build --@io_bazel_rules_go//go/config:pure=True

build --macos_minimum_os=15.3
build:linux --features=-libtool

common:buildbarn --remote_executor=grpc://frontend.buildbarn.svc.cluster.local:8980
common:buildbarn --remote_cache=grpc://frontend.buildbarn.svc.cluster.local:8980
common:buildbarn --jobs=64
common:buildbarn --remote_timeout=3600
common:buildbarn --remote_max_connections=100
common:buildbarn --host_platform=//bazel/platforms/rbe:linux_x64
common:buildbarn --bes_results_url=https://buildbarn.k8s.bdd.io/bazel-invocations/
common:buildbarn --bes_backend=grpc://portal.buildbarn.svc.cluster.local:8082
