---
Language: Cpp
AccessModifierOffset: -2
ColumnLimit: 0
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: false

AlignTrailingComments:
  Kind: Always
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
BreakTemplateDeclarations: true

---

