---
Language: Cpp
AccessModifierOffset: -2
ColumnLimit: 0
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: false
BracedInitializerIndentWidth: 2
ContinuationIndentWidth: 2

AlignTrailingComments:
  Kind: Always
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: true
BreakTemplateDeclarations: Leave
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

---

