name: Test (Linux)

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        arch: ["x64"]
    runs-on:
      - ubuntu-latest-4-cores${{ matrix.arch == 'arm64' && '-arm64' || '' }}

    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: disable man-db auto update
        if: ${{ runner.environment == 'github-hosted' }}
        run: sudo rm -f /var/lib/man-db/auto-update

      - name: setup bazel
        uses: bazel-contrib/setup-bazel@0.18.0
        with:
          bazelisk-version: 1.25.0
          bazelisk-cache: true
          repository-cache: true

      - name: install dependencies
        run: |
          sudo apt -y install virtualenv lcov

      - name: build
        run: |
          bazel build \
            --config=ci \
            --config=buildbuddy \
            --remote_header=x-buildbuddy-api-key=${{ secrets.BUILDBUDDY_ORG_API_KEY }} \
            -c opt \
            //:envoy-stripped

  # test-coverage:
  #   if: ${{ github.event_name != 'pull_request' || !contains(github.event.pull_request.labels.*.name, 'ci-not-ready') }}
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       arch: ["x64"]
  #   runs-on:
  #     - ubuntu-latest-16-cores${{ matrix.arch == 'arm64' && '-arm64' || '' }}

  #   steps:
  #     - name: checkout
  #       uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

  #     - name: disable man-db auto update
  #       if: ${{ runner.environment == 'github-hosted' }}
  #       run: sudo rm -f /var/lib/man-db/auto-update

  #     - name: setup clang
  #       run: |
  #         sudo apt -y install virtualenv lcov

  #     - name: setup bazel
  #       uses: bazel-contrib/setup-bazel@e8776f58fb6a6e9055cbaf1b38c52ccc5247e9c4
  #       with:
  #         bazelisk-version: 1.25.0
  #         bazelisk-cache: true
  #         disk-cache: bazel-linux-${{ matrix.arch }}
  #         repository-cache: true

  #     - name: test
  #       run: |
  #         bazel coverage --test_output=errors //test/...
  #         tar xf bazel-out/_coverage/_coverage_report.dat ./lcov

  #     - name: upload to coveralls
  #       uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b
  #       with:
  #         github-token: ${{ secrets.GITHUB_TOKEN }}
  #         file: lcov

  # test-asan:
  #   if: ${{ github.event_name != 'pull_request' || !contains(github.event.pull_request.labels.*.name, 'ci-not-ready') }}
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       arch: ["x64"]
  #   runs-on:
  #     - ubuntu-latest-16-cores${{ matrix.arch == 'arm64' && '-arm64' || '' }}

  #   steps:
  #     - name: checkout
  #       uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

  #     - name: disable man-db auto update
  #       if: ${{ runner.environment == 'github-hosted' }}
  #       run: sudo rm -f /var/lib/man-db/auto-update

  #     - name: setup clang
  #       run: |
  #         sudo apt -y install virtualenv lcov

  #     - name: setup bazel
  #       uses: bazel-contrib/setup-bazel@e8776f58fb6a6e9055cbaf1b38c52ccc5247e9c4
  #       with:
  #         bazelisk-version: 1.25.0
  #         bazelisk-cache: true
  #         disk-cache: bazel-linux-${{ matrix.arch }}-asan
  #         repository-cache: true

  #     - name: test
  #       run: bazel test -c dbg --config=asan --test_output=errors //test/...
