name: Test (Linux)

permissions:
  contents: read

on:
  push:
    branches:
      - main
  # pull_request:

jobs:
  coverage:
    runs-on:
      - ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: disable man-db auto update
        if: ${{ runner.environment == 'github-hosted' }}
        run: sudo rm -f /var/lib/man-db/auto-update

      - name: setup bazel
        uses: bazel-contrib/setup-bazel@0.18.0
        with:
          bazelisk-version: 1.25.0
          bazelisk-cache: true
          repository-cache: true
          external-cache: true

      - name: install dependencies
        run: |
          sudo apt -y install virtualenv lcov

      - name: coverage
        run: |
          bazel coverage \
            --config=ci \
            --config=buildbuddy \
            --nocache_test_results \
            --remote_header=x-buildbuddy-api-key=${{ secrets.BUILDBUDDY_ORG_API_KEY }} \
            //test/...
          tar xf bazel-out/_coverage/_coverage_report.dat ./lcov

      - name: upload to coveralls
        uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          file: lcov

  asan:
    runs-on:
      - ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: setup bazel
        uses: bazel-contrib/setup-bazel@0.18.0
        with:
          bazelisk-version: 1.25.0
          bazelisk-cache: true
          repository-cache: true
          external-cache: true

      - name: test (asan)
        run: |
          bazel test \
            --config=ci \
            --config=buildbuddy \
            --config=asan \
            -c dbg \
            --remote_header=x-buildbuddy-api-key=${{ secrets.BUILDBUDDY_ORG_API_KEY }} \
            //test/...

  tsan:
    runs-on:
      - ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: setup bazel
        uses: bazel-contrib/setup-bazel@0.18.0
        with:
          bazelisk-version: 1.25.0
          bazelisk-cache: true
          repository-cache: true
          external-cache: true

      - name: test (tsan)
        run: |
          bazel test \
            --config=ci \
            --config=buildbuddy \
            --config=tsan \
            -c dbg \
            --remote_header=x-buildbuddy-api-key=${{ secrets.BUILDBUDDY_ORG_API_KEY }} \
            //test/...

  msan:
    runs-on:
      - ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: setup bazel
        uses: bazel-contrib/setup-bazel@0.18.0
        with:
          bazelisk-version: 1.25.0
          bazelisk-cache: true
          repository-cache: true
          external-cache: true

      - name: test (msan)
        run: |
          bazel test \
            --config=ci \
            --config=buildbuddy \
            --config=msan \
            -c dbg \
            --remote_header=x-buildbuddy-api-key=${{ secrets.BUILDBUDDY_ORG_API_KEY }} \
            //test/...
